html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 내 css */

body {
    background-color: #f7f7f7;
}

.layout {
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
}

/* 메인 */
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home,
.logo {
    font-size: 18px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.home:hover {
    color: #007bff;
}

/* 메인 */

/* 입력 */
.contents {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    margin-right: 10px;
}

.input-group input[type='text'] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type='text']:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
/* 입력 */

/* 카드 */
.todo-list-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.todo-card {
    flex: 1 1 30%;
    max-width: calc(33.333% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.todo-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    justify-content: flex-start;
    width: 100%;
}

.todo-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.todo-card p {
    font-size: 16px;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
}

.todo-card button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-card button:hover {
    opacity: 0.8;
}

.todo-card button:first-of-type {
    background-color: #28a745;
    color: #fff;
    margin-right: auto;
}

.todo-card button:nth-of-type(2) {
    background-color: #dc3545;
    color: #fff;
    margin-left: auto;
}

.todo-card button:last-of-type {
    background-color: #dc3545;
    color: #fff;
}
/* 카드 */

/* 배경 */
.working-background,
.money-background {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
